themes {
    system {
        fg     #ACB0BE
        bg     #ACB0BE
        black  #4C4F69
        red    #D20F39
        green  #40A02B
        yellow #DF8E1D
        blue   #1E66F5
        magenta #EA76CB
        cyan   #04A5E5
        white  #DCE0E8
        orange #FE640B
    }
}
