$darkmode: true;
$primary: #cdbdff;
$onPrimary: #351684;
$primaryContainer: #4c339b;
$onPrimaryContainer: #e8ddff;
$secondary: #cac3dc;
$onSecondary: #322e41;
$secondaryContainer: #494459;
$onSecondaryContainer: #e7dff8;
$tertiary: #efb8cb;
$onTertiary: #492534;
$tertiaryContainer: #623b4a;
$onTertiaryContainer: #ffd9e6;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #101012;
$background: #101012;
$onBackground: #e6e1e6;
$surface: #1c1b1e;
$onSurface: #e6e1e6;
$surfaceVariant: #48454f;
$onSurfaceVariant: #c9c4cf;
$outline: #938f99;
$shadow: #000000;
$inverseSurface: #e6e1e6;
$inverseOnSurface: #313033;
$inversePrimary: #644db5;
