$darkmode: true;
$primary: #99cbff;
$onPrimary: #003256;
$primaryContainer: #00497a;
$onPrimaryContainer: #cfe4ff;
$secondary: #bac8db;
$onSecondary: #243140;
$secondaryContainer: #3b4857;
$onSecondaryContainer: #d6e4f7;
$tertiary: #d5bee6;
$onTertiary: #3a2a49;
$tertiaryContainer: #514060;
$onTertiaryContainer: #f1daff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F1012;
$background: #0F1012;
$onBackground: #e2e2e6;
$surface: #1a1c1e;
$onSurface: #e2e2e6;
$surfaceVariant: #42474e;
$onSurfaceVariant: #c3c7cf;
$outline: #8c9199;
$shadow: #000000;
$inverseSurface: #e2e2e6;
$inverseOnSurface: #2f3033;
$inversePrimary: #0062a1;
