$darkmode: true;
$primary: #aec6ff;
$onPrimary: #002c70;
$primaryContainer: #124393;
$onPrimaryContainer: #d8e2ff;
$secondary: #c0c6dc;
$onSecondary: #293042;
$secondaryContainer: #3f4659;
$onSecondaryContainer: #dce2f9;
$tertiary: #dfbbdd;
$onTertiary: #412842;
$tertiaryContainer: #593d5a;
$onTertiaryContainer: #fdd7fb;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #101012;
$background: #101012;
$onBackground: #e4e2e6;
$surface: #1b1b1e;
$onSurface: #e4e2e6;
$surfaceVariant: #44464e;
$onSurfaceVariant: #c5c6d0;
$outline: #8e9099;
$shadow: #000000;
$inverseSurface: #e4e2e6;
$inverseOnSurface: #303033;
$inversePrimary: #325bac;
