$darkmode: true;
$primary: #9fc9ff;
$onPrimary: #00315c;
$primaryContainer: #004882;
$onPrimaryContainer: #d2e4ff;
$secondary: #bbc7db;
$onSecondary: #263141;
$secondaryContainer: #3c4858;
$onSecondaryContainer: #d7e3f8;
$tertiary: #d8bde4;
$onTertiary: #3c2947;
$tertiaryContainer: #533f5e;
$onTertiaryContainer: #f5d9ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #101010;
$background: #101010;
$onBackground: #e2e2e6;
$surface: #1b1b1b;
$onSurface: #e2e2e6;
$surfaceVariant: #43474e;
$onSurfaceVariant: #c3c6cf;
$outline: #8d9199;
$shadow: #000000;
$inverseSurface: #e2e2e6;
$inverseOnSurface: #2f3033;
$inversePrimary: #1160a4;
