$darkmode: true;
$primary: #ffb3af;
$onPrimary: #5f1316;
$primaryContainer: #7e2a2b;
$onPrimaryContainer: #ffdad6;
$secondary: #e7bdba;
$onSecondary: #442928;
$secondaryContainer: #5d3f3e;
$onSecondaryContainer: #ffdad8;
$tertiary: #e3c28c;
$onTertiary: #412d05;
$tertiaryContainer: #594319;
$onTertiaryContainer: #ffdea7;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #130F0F;
$background: #130F0F;
$onBackground: #ecdfde;
$surface: #201a1a;
$onSurface: #ecdfde;
$surfaceVariant: #534342;
$onSurfaceVariant: #d8c2c0;
$outline: #a08c8b;
$shadow: #000000;
$inverseSurface: #ecdfde;
$inverseOnSurface: #362f2e;
$inversePrimary: #9c4140;
