$darkmode: true;
$primary: #ffb594;
$onPrimary: #591d00;
$primaryContainer: #7a2f07;
$onPrimaryContainer: #ffdbcc;
$secondary: #e7beae;
$onSecondary: #442a1f;
$secondaryContainer: #5d4034;
$onSecondaryContainer: #ffdbcc;
$tertiary: #d3c78f;
$onTertiary: #373106;
$tertiaryContainer: #4e471b;
$onTertiaryContainer: #efe3a8;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #130F0E;
$background: #130F0E;
$onBackground: #ede0dc;
$surface: #201a18;
$onSurface: #ede0dc;
$surfaceVariant: #52433e;
$onSurfaceVariant: #d8c2ba;
$outline: #a08d86;
$shadow: #000000;
$inverseSurface: #ede0dc;
$inverseOnSurface: #362f2c;
$inversePrimary: #99461e;
