$darkmode: true;
$primary: #faacf9;
$onPrimary: #521457;
$primaryContainer: #6c2d70;
$onPrimaryContainer: #ffd5fc;
$secondary: #d8bfd4;
$onSecondary: #3c2b3b;
$secondaryContainer: #544152;
$onSecondaryContainer: #f5dbf0;
$tertiary: #f6b8ab;
$onTertiary: #4c261e;
$tertiaryContainer: #663b32;
$onTertiaryContainer: #ffdad1;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #120F11;
$background: #120F11;
$onBackground: #e9e0e4;
$surface: #1e1a1d;
$onSurface: #e9e0e4;
$surfaceVariant: #4e444c;
$onSurfaceVariant: #d0c2cc;
$outline: #998d96;
$shadow: #000000;
$inverseSurface: #e9e0e4;
$inverseOnSurface: #332f32;
$inversePrimary: #87458a;
